@(loginForm: Form[(String, String)], registerForm: Form[User])(implicit flash: Flash)

<html>
    <head>
        <title>Terra Traveler - Proto Model</title>
    </head>
    <body>
        
        @helper.form(routes.Application.authenticate) {
            
            <h1>Sign in</h1>
            
            @loginForm.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="email" name="email" placeholder="Email" id="email" value="@loginForm("email").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>       
            <p>
                <button type="submit" id="loginbutton">Login</button>
            </p>
        }
        
        <p class="note">
            Try <em>yura@@sample.com</em> with <em>secret</em> as password.
        </p>
        
        <h2>Create a new user</h2>
        
        @import helper._
    
	    @form(routes.Users.createUser) {
	        @inputText(registerForm("userName")) 
	        @inputText(registerForm("email"))
	        @inputText(registerForm("password"))
	        @inputRadioGroup(registerForm("role"), 
				options("NORM"->"Regular","BIZ"->"Business"), 
				'_label -> "Role"
			)
	        <input type="submit" value="Create">
	    }
            
    </body>
</html>
    


