@(user: User, profile: Option[UserProfile])

@main("Terra Traveler - Data Model Proto"){
	
	<h1>User Profile</h1>
	
	<h3>@user.userName</h3>
	
	<dl>
		<dt>Email</dt>
		<dd>@user.email</dd>
		
		@profile match {
    		case Some(profile) => {
    			<dt>First Name</dt>
    			<dd>
    				@profile.firstName match {
    					case Some(firstName) => {@profile.firstName}
    					case _ => {&ltempty&gt}
    				}
    			</dd>
    			
    			<dt>Last Name</dt>
    			<dd>@profile.lastName match {
   					case Some(lastName) => {@profile.lastName}
   					case _ => {&lt&ltempty&gt&gt}
   					}
 				</dd>
	    		
	    		<dt>Gender</dt>
				<dd>@profile.gender match {
   					case Some(gender) => {@profile.gender}
   					case _ => {&ltempty&gt}
   					}
 				</dd>
				
				<dt>Birthdate</dt>
				<dd>@profile.birthdate match {
   					case Some(birthdate) => {@profile.birthdate}
   					case _ => {&ltempty&gt}
   					}
 				</dd>
				
				<dt>Nationality</dt>
				<dd>@profile.nationality match {
   					case Some(nationality) => {@profile.nationality}
   					case _ => {&ltempty&gt}
   					}
 				</dd>
				
				<dt>Portrait URL</dt>
				<dd>@profile.portraitUrl match {
   					case Some(portraitUrl) => {@profile.portraitUrl}
   					case _ => {&ltempty&gt}
   					}
 				</dd>
				
				<dt>Bio</dt>
				<dd>@profile.bio match {
   					case Some(bio) => {@profile.bio}
   					case _ => {&ltempty&gt}
   					}
    			</dd>
				
				<dt>Story</dt>				
				<dd>
    				@profile.story match {
    					case Some(story) => {@profile.story}
    					case _ => {&ltempty&gt}
    				}
    			</dd>
			}
			case None => {
				<dt>First Name</dt>
				<dd>&ltempty&gt<dd>
				
    			<dt>Last Name</dt>
    			<dd>&ltempty&gt<dd>
    			
	    		<dt>Gender</dt>
	    		<dd>&ltempty&gt<dd>
	    		
				<dt>Birthdate</dt>
				<dd>&ltempty&gt<dd>
				
				<dt>Nationality</dt>
				<dd>&ltempty&gt<dd>
				
				<dt>Portrait URL</dt>
				<dd>&ltempty&gt<dd>
				
				<dt>Bio</dt>
				<dd>&ltempty&gt<dd>
				
				<dt>Story</dt>
				<dd>&ltempty&gt<dd>
			}
		}
	</dl>
}