@(location: Option[Location])(implicit user: User)

@main("Terra Traveler - Data Model Proto"){
	
	<h1>User Location: 
		@location match {
			case Some(location) => {@location.lat @location.lon}
			case None => {&ltempty&gt}
		}
	</h1>
	
	@if(user != null) { 
		<h3>User: @user.userName | email: @user.email</h3>
		<p><a href="@routes.Users.profile(user.id.get)"><em>User Profile</em></a></p>
		<p><a href="@routes.Events.byUser(user.id.get)"><em>User Events</em></a></p>
		<p><a href="@routes.Users.contacts(user.id.get)"><em>User Contacts</em></a></p>
	}
	
}