@(user: User, profile: Option[UserProfile])

@main("Terra Traveler - Data Model Proto"){
	
	<h1>User Profile</h1>
	
	<h3>@user.userName</h3>
	
	<dl>
		<dt>Email</dt>
		<dd>@user.email</dd>
		
		<dt>First Name</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.firstName</dd> }
    		case None => {}
		}
		
		<dt>Last Name</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.lastName</dd> }
    		case None => {}
		}
				
		<dt>Gender</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.gender</dd> }
    		case None => {}
		}
		
		<dt>Birthdate</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.birthdate</dd> }
    		case None => {}
		}
		
		<dt>Nationality</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.nationality</dd> }
    		case None => {}
		}
		
		<dt>Portrait URL</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.portraitUrl</dd> }
		}
		
		<dt>Bio</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.bio</dd> }
		}
		
		<dt>Story</dt>
		@profile match {
    		case Some(profile) => { <dd>@profile.story</dd> }
		}
	</dl>
}