@(event: Event)

@main("Terra Traveler - Data Model Proto"){
	
	<h1>Event</h1>
	
	<dl>
		<dt>@event.date</dt>  
		<dd>@event.description</dd>
		
		<dt>Place</dt>
		@Place.findById(event.placeId) match {
			case Some(pl) => {
				<dd><a href="@routes.Locations.place(pl.id.get)">@pl.name</a></dd>
			}
			case None => {<dd>{&ltempty&gt}</dd>}
		}
		
  		<dt>Minimum Size</dt>
  		<dd>@event.minSize</dd>
  		
  		<dt>Maximum Size</dt>
  		<dd>@event.maxSize</dd>
  		
  		<dt>Wait List</dt>
  		<dd>@event.waitListTotal match {
 				case Some(waitListTotal) => {@event.waitListTotal}
 				case _ => {&ltempty&gt}
 			}
 		</dd>
 	</dl>
 		
	@*@event.rsvpTotal match {
		case Some(rsvpTotal) => {
			<p>@event.rsvpTotal Attending</p>
		}
		case _ => {&ltempty&gt}
	}*@
}